
<div class="view-project-container">
  <h2>View Assigned Project</h2>
 
  <div *ngIf="project; else errorBlock">
    <table class="project-table">
      <tr>
        <th>Project ID</th>
        <td>{{ project.projectId }}</td>
      </tr>
      <tr>
        <th>Project Name</th>
        <td>{{ project.projectName }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ project.descript }}</td>
      </tr>
      <tr>
        <th>Required Skills</th>
        <td>{{ project.requiredSkills }}</td>
      </tr>
      <tr>
        <th>Capacity</th>
        <td>{{ project.capacity }}</td>
      </tr>
    </table>
  </div>
 
  <!-- Toggle Button -->
  <button class="toggle-button" (click)="toggleMembers()">
    {{ showMembers ? 'Hide Project Members' : 'Show Project Members' }}
  </button>
 
  <!-- Project Members Table -->
  <div *ngIf="showMembers" class="members-table-container">
    <h3>Project Members</h3>
    <table class="members-table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Designation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of projectMembers">
          <td>{{ member.empName }}</td>
          <td>{{ member.designation }}</td>
        </tr>
      </tbody>
    </table>
  </div>
 
  <ng-template #errorBlock>
    <p class="error">{{ errorMessage }}</p>
  </ng-template>
</div>
